.divider_separator {
  width: 6rem;
  border-top: 4px solid #000;
  margin: 0.2rem 0 2rem 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  margin: 0 auto;
}

.wrapper h3 {
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  font-weight: lighter;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.wrapper h3:first-of-type {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.wrapper p {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

.wrapper address {
  font-size: 0.8rem;
  max-width: 6rem;
  line-height: 1.5rem;
}

.wrapper iframe {
  border: none;
}

.wrapper a {
  font-size: 0.8rem;
  color: #000;
  text-decoration: none;
  display: block;
  margin-bottom: 0.3rem;
}

@media screen and (min-width: 45rem) {
  .wrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .wrapper > div {
    margin-top: 4rem;
    flex: 1;
  }

  .wrapper > div:first-of-type h3 {
    margin-top: 0;
  }
}
